extends layout

block listadoProductos
        each producto in productos
            tr
                td #{producto.id}
                td #{producto.title}
                td #{producto.price}
                td
                    img(src='#{producto.thumbnail}' height='150px' width='200px' alt='Imagen no disponible')